<%= render 'list', book: @book, user: @user %>

    <div class = "col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class = "table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td><span><%= link_to book.title, book_path(book.id) %></span></td>
            <td><nobr><%= book.body %></nobr></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>

